body,
html {
  height: 100%;
  margin: 0;
  font-weight: 400;
  line-height: 1.8em;
  font-family: alegreya;
  animation: bakgrunn 7s infinite alternate-reverse;
}
.ptext .border.trans {
  background-color: transparent;
  animation: bakgrunn 7s infinite alternate-reverse;
}

.section-dark {
 padding: 0px 100px;
}

@keyframes bakgrunn {
  to {
    background-color: black;
    text-shadow: -5px 12px 3px black;
  }
}
.img1,
.img2,
.img3,
.img4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.img1 {
  background-image: url("images/Headline-photo.jpg");
  min-height: 65%;
}
.img2 {
  background-image: url("images/river-cano.jpg");
  min-height: 40%;
}
.img3 {
  background-image: url("images/jungle.jpg");
  min-height: 40%;
}
.img4 {
  background-image: url("images/monkey.jpg");
  min-height: 70%;
}
.section {
  text-align: center;
  padding:-50px 80px;
  border: 3px solid black;
  font-size: 22px;
  border: 2px solid black;
}
.section-dark {
  background-color: #000;
  color: #ddd;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 45px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border {
  background-color: #111;
  color: orange;
  padding: 20px;
  border-radius: 10px;
  text-decoration: underline 5px gold;
  animation: bakgrunn 7s infinite alternate-reverse;
}
.fs {
  font-size: 25px;
}
.fs:hover {
  font-size: 26px;
  cursor: pointer;
}
@media (max-width: 568px) {
  .img1,
  .img2,
  .img3,
  .img4 {
    background-attachment: scroll;
  }
}